.vscode/
.ipynb_checkpoints/
.pytest_cache/

data/*
models/*
examples/
notebooks/deprecated
tests/deprecated
site/

src/co_terms.py
src/count.py
src/filter.py
src/highlight.py
src/topics.py

!data/example_project
!models/example_project
