.vscode/
.ipynb_checkpoints/
.pytest_cache/

data/*
models/*
examples/
notebooks/deprecated
notebooks/staging
notebooks/gilbert
tests/deprecated
site/

src/deprecated
src/staging

!data/example_project
!models/example_project
